{% extends "base.html" %}

{% block head %}
<h1 style="text-align: center;"> Express Notes </h1>
{% endblock %}

{% block body %} 

{% if notes|length < 1 %}

<h2 style="text-align: center;"> Hi! Kindly provide a title and note to begin. </h2>

{% else %}

<div class = "content">

    
    
    <table>
        <tr>
            <th>Title</th>
            <th>Note</th>
            <th>Added </th>
            <th>Actions</th>
        </tr>

        {% for note in notes %}

        <tr>
            <td>{{ note.title }}</td>
            <td>{{ note.content }}</td>
            <td>{{ note.date_created.date() }}</td>
            <td>
                
                <a href="/update/{{note.id}}"">Update</a>
                <br>
                <a href="/delete/{{note.id}}">Delete</a>
             </td >
        </tr>

        {% endfor %}

    </table>

    {% endif %}

    <br><br>

    <form action="/" method="POST">

        Title: <input type="text" name="title" id="title">

        <br><br>

        Note: <input type="text" name="content" id="content">

        <br><br>

        <input type="submit" value="Add Note">
    </form>
</div>
{% endblock %}